// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#top-photo{
    border-right: 1px solid #ababab;
}
#top-logo{
    padding-top:0.3rem;font-family:Roboto Slab;font-weight:bold
}

.content{
    display:flex;
}

.title{
    padding-top:2.5rem;
}

#profili{
    text-decoration:none;
}

#miresevjen{
    padding-right: 20px;
}
strong{
    font-weight: bold;
}
#add-post{
    justify-content: space-between;
}
#top-headline{
    justify-content: space-between;
    align-items: baseline;
}
#profili-juaj a{
    text-decoration: none;
    font-family: 'Nunito';
    color: rgba(0,0,0,0.5);
}
.dropdown-item span{
    margin-left: 5px;
}
#posti{
    box-shadow: 0 9px 10px 0 rgba(53, 53, 53, 0.2);
    transition: 0.3s;
}
#posti:hover{
    box-shadow: 0 20px 26px 0 rgba(0, 0, 0, 0.6);
}
#vija{
    border-top: 1px solid #efefef;
}
@media(max-width:499px){
    #profile-pic{
        display: inline-table;
        margin: 0 5rem 0 5rem;
        padding: 0 !important;
    }
}
@media(max-width:800px){
    .content{
        display:grid;
    }
    #details{
        margin-right: 4rem;
    }
}
@media(max-width:992px){
    #profile-pic{
        margin-right: 4rem;
    }
    .row{
        justify-content: center !important;
    }
}