// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
#particles-js{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.stiky{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
}
#navbari{
    background: none !important;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100px;
}
// kur tbohet scroll ndrro navbar color
#navbari.scrolled {
    background-color: #fff !important;
    transition: background-color 400ms linear;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-bottom: 1px solid rgba(0,0,0,.11);
  }
.shadow-sm{
    box-shadow: none !important;
}
#rreshti-main{
    align-items: center;
    margin-top: 3rem;
}
#main-text{
    color: #EE4E63;
    font-weight: bold;
    text-align: center;
    font-family:'Poppins';
    font-size: 4rem;
}
#fotoja{
    height: 500px;
}
#seksioni{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 100px;

}
#seksioni2{
    width: 100%;
    height: 100vh;
    background: #EE4E63;
}
#thewave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#thewave path{
    fill: #EE4E63;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#top-photo{
    border-right: 1px solid #d6d6d6;
}
#top-logo{
    padding-top:0.3rem;font-family:Roboto Slab;font-weight:bold
}

.content{
    display:flex;
}

.title{
    padding-top:2.5rem;
}

#profili{
    text-decoration:none;
}

#miresevjen{
    padding-right: 20px;
}
strong{
    font-weight: bold;
}
#add-post{
    justify-content: space-between;
}
#top-headline{
    // justify-content: space-between;
    align-items: baseline;
}
#profili-juaj a{
    text-decoration: none;
    font-family: 'Nunito';
    color: rgba(0,0,0,0.5);
}
.dropdown-item span{
    margin-left: 5px;
}
#posti{
    box-shadow: 0 9px 10px 0 rgba(53, 53, 53, 0.2);
    transition: 0.3s;
}
#posti:hover{
    box-shadow: 0 20px 26px 0 rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}
.img-wrap{
    position: relative;
    // width: 100%;
    // max-width: 400px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.6);
}
.img-wrap:hover .overlay {
    opacity: 1;
}
.icon{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.icon2{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.fa-heart:hover{
    color: rgb(184, 69, 69);
    transition: 0.4s;
}
.fa-comment:hover{
    color: rgb(81, 135, 197);
    transition: 0.4s;
}
#vija{
    border-top: 1px solid #efefef;
}
.created{
    position: absolute;
    bottom: 0;
}
#profile-pic{
    text-align: center;
    line-height: 15rem;
}
#profile-pic img{
    width: 20vh;
}
#show-post-top{
    align-items: center;
}
#show-post-top div{
    font-size: 20px;
    font-weight: bold;
}
#show-post-top img{
    max-width: 40px;
}
#bullet-point{
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px;
}
// .navbar-brand{
//     margin-left: 2rem;
// }
@media(max-width:499px){
    #profile-pic{
        display: inline-table;
        margin: 0 5rem 0 5rem;
    }
    #postimet{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:767px){
    .content{
        display:grid;
    }
    #details{
        text-align: center;
        padding: 0;
    }
    #navbari{
        height: auto;
    }
}
@media(max-width:992px){
    #profile-pic{
        text-align: center;
    }
    #top-row{
        justify-content: center !important;
    }
}
@media(max-width:1200px){
    #rreshti-main{
        margin-top: 10rem;
    }
}